<div>
    </br>
    </br>
    </br>

    <table class="fd-table dark-table">
        <thead>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Senha</th>        
        </thead>
        <tbody>
            <tr ng-repeat="user in vm.users">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.password}}</td>
            </tr>
        </tbody>
    </table>
</div>